$primary-background-color: #e1bfb7;
$secondary-background-color: #faf8f8;
$body-text-color: black;
$headline-text-color: #f9f2f2;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $primary-background-color;
}

header {
  border-bottom: 1px black solid;
  margin: 0 1vw;

  h1 {
    color: #f9f2f2;
    background-color: black;
    text-transform: uppercase;
    padding: 1rem;
  }

  section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  div.left {
    background-color: #f9f2f2;
    padding: 1rem;
  }

  div.right {
    padding: 1rem;

    h3:nth-of-type(2) {
      padding-top: 1rem;
      border-top: 1px black solid;
    }
  }
}

.hero_layout {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $secondary-background-color;
  margin: 4vw;
  padding: 0.5vw 5vw;
  column-gap: 2vw;
  row-gap: 3vw;
  h1 {
    text-align: center;
    padding: 3vw 0;
    width: 100%;
    background-color: #120f0c;
    color: $headline-text-color;
    text-transform: uppercase;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vw;
  input {
    margin-top: 1vw;
    width: 100%;
    height: 2rem;
    border: none;
    background-color: rgb(210, 210, 210);
    font-size: 1rem;
  }
  button {
    border-radius: 1vw;
    padding: 1.5vw 3.5vw;
    font-size: 1rem;
    align-self: flex-end;
  }
}

.Laptop {
  display: flex;
  flex-direction: column;

  div.laptopImage {
    align-self: center;
    display: flex;
    width: 80%;
    aspect-ratio: 1/0.7;
    padding: 1vw;
    background-image: url("../public/laptop-black.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.trees {
  display: flex;
  flex-direction: column;
  width: 100%;
  img {
    align-self: center;
    width: 60%;
  }
}
.results {
  padding: 2vw 0;
  position: relative;
  .resPlane {
    position: absolute;
    top: 50%;
    right: 0;
    color: black;
  }
  .resTree {
    position: absolute;
    top: 50%;
    left: 0;
    color: black;
  }
}

section.info {
  background-color: $primary-background-color;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 3vw;
  position: relative;
}

section.animation {
  margin: 0 10%;
  width: 30vw;
  // top: 30vh;
  top: 30vh;
  left: 0;
  background-color: #f69982;
  border-radius: 100%;
  width: 80%;
  aspect-ratio: 1 / 1;
  z-index: 50;
  img {
    max-width: 100%;
  }

  div {
    margin: auto;
    height: 100%;
    width: 90%;
    margin: 0 5%;
    content: " ";
    background-image: url("../public/letter-black-transparent.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    h2 {
      position: absolute;
      top: 22%;
      left: 30%;
      font-size: 2rem;
      color: #4a4a4a;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  filter: opacity(0.7);
}

section.text {
  z-index: 100;
  display: flex;
  flex-direction: column;
  row-gap: 80vw;
  padding: 10% 0;
  article {
    background-color: $secondary-background-color;
    padding: 2vw 5vw;
    margin: 3%;
  }
  h4 {
    text-transform: uppercase;
    text-decoration: underline;
  }
}
@media screen and (min-width: 768px) {
  header {
    border-bottom: 1px black solid;

    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      padding: 1rem;
      div:nth-of-type(2) {
        border-left: 1px black solid;
      }
    }
  }

  form {
    height: 45vw;
  }

  section.animation {
    width: 50vw;
    left: 25%;
    top: 40vh;
    div {
      h2 {
        font-size: 2rem;
      }
    }
  }
  section.text {
    grid-column: 1;
    row-gap: 40vw;
  }

  @media screen and (min-width: 1024px) {
    .hero_layout {
      grid-template-columns: 40% 1fr;
      h1 {
        grid-area: 1 / span 2;
      }
    }
    form {
      height: 30vw;
      button {
        padding: 0.7vw 2vw;
      }
    }

    section.info {
      grid-template-columns: 45% 1fr;
    }
    section.animation {
      width: 30vw;
      top: 20vh;
      left: 0;
      div {
        h2 {
          font-size: 2.2rem;
        }
      }
      filter: opacity(1);
    }
    section.text {
      grid-column: 2;
    }
  }
}
.hideContent {
  display: none;
}

.fade-in {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.erase-text {
  width: 0;
  animation: eraseT 3s steps(20, end);
}
@keyframes eraseT {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

footer {
  position: relative;
  z-index: 100;
  background-color: $primary-background-color;
  div {
    background-color: #120f0c;
    color: $headline-text-color;
    margin: 1vw;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 2vw;
  }
  p {
    margin: 0 10vw;
  }
  .disclaimer {
    color: #949494;
  }
}
