$primary-background-color: #E1BFB7;
$secondary-background-color: #FAF8F8;
$body-text-color: black;
$headline-text-color: #F9F2F2;



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

header {

}

form {

}

section.results {

}

section.info {

}

section.animation {

}

section.text {

}

footer {

}




